body{
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif; 
}
h1{
   font-size: 5.625rem;
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
   color: #66BFBF;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normals;
    padding-bottom: 10px;
}   
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif; 
}
div{
    background-color: #E4F9F5;
}
p
{
    line-height: 2;
}
hr
{
    border: dotted gray 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
a
{
 font-family: 'Montserrat', sans-serif;
 color: blueviolet;
 margin: 10px 20px;
 text-decoration: none;
 
}
a:hover 
{
    color: cornsilk;
}
.top-container{
    background-color: #daeff8;
    position: relative;
    padding-top: 100px;
}
.middile-container{
    
    margin: 100px 0;
    margin-top: 26px;
    
   
}
.bottom-container{

    background-color: #66BFBF;
    padding: 10px 0 10px;
    margin-top: 36px;
    
}
.sof{
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom:300px;
}
.dp{
    margin-top: 30px;
}
.skill-row {
    width: 50%;
    margin:100PX auto 100px auto;
    text-align: left;
    line-height: 2;
}
.code-img
{
    width: 25%;
    float:left;
    margin-right: 30px;
}
.sel-img
{
    width: 30%;
    float:right;
    margin-left: 30px;
}
.man-des
{
    clear: left;
}
.auto-des
{
    clear: right;
}
.intro
{
    width: 30%;
    margin: auto;

}
.contact-message
{
    width: 40%;
    margin: 40px auto 60px;
}
.btn
{
    background: #F63D3D;
    background-image: -webkit-linear-gradient(top, #F63D3D, #811616);
    background-image: -moz-linear-gradient(top, #F63D3D, #811616);
    background-image: -ms-linear-gradient(top, #F63D3D, #811616);
    background-image: -o-linear-gradient(top, #F63D3D, #811616);
    background-image: linear-gradient(to bottom, #F63D3D, #811616);
   -webkit-border-before: 20px;
   -moz-border-radius: 20px;
    border-radius: 20px;
    height: 14px;
    line-height: 14px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    width: 185px;
    font-size: 20px;
    font-weight: 900;
    padding: 12px;
    box-shadow: 1px 1px 6px 0px #000000;
    -webkit-box-shadow: 1px 1px 6px 0px #000000;
    -moz-box-shadow: 1px 1px 6px 0px #000000;
    text-shadow: 1px 1px 6px #000000;
    border: solid #762C2C 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    }
    
    .btn:hover 
    {
    border: solid #ED3333 1px;
    background: #811616;
    background-image: -webkit-linear-gradient(top, #811616, #F63D3D);
    background-image: -moz-linear-gradient(top, #811616, #F63D3D);
    background-image: -ms-linear-gradient(top, #811616, #F63D3D);
    background-image: -o-linear-gradient(top, #811616, #F63D3D);
    background-image: linear-gradient(to bottom, #811616, #F63D3D);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
    }
.copyright
{
    color: darkblue;
    font-size: 0.75rem;
    padding: 20px 0;
}
    
